@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

.nav-bar {
  background-color: #222222;
  &__logo {
    & img {
      max-width: 180px;
      padding: 24px 0px;

      @media screen and (max-width: 1024px) {
        padding: 18px 0px;
      }
    }
  }
  &__links {
    display: flex;
    flex: 1;
  }
  &__link-group {
    display: flex;
  }
  &__ctas {
    display: flex;
    margin-left: auto;
    align-items: center;
    img,
    svg {
      width: 20px;
      cursor: pointer;
    }
    svg {
      margin-left: 20px;
      display: none;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }

    .cta-btn {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
  &__wrapper {
    display: flex;
  }

  @media screen and (max-width: 1024px) {
  }
}
.nav-item {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  padding: 0px 18px;
  transition: 0.2s;
  @media screen and (max-width: 1128px) {
    padding: 0px 13px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }

  & svg {
    width: 14px;
  }
  .modal {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
}
.cta-btn {
  width: fit-content;
  cursor: pointer;
  padding: 10px 15px;
  border: 0px solid white;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  border-radius: 2.5px;
  transition: 0.4s ease-in-out;
  outline: 0.5px solid white;
}

// Hero
.hero {
  background: url("../public/images/asset 53.png") #000000;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 100px;
  @media screen and (min-width: 1920px) {
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width: 1024px) {
    background: url("../public/images/tablet-background.png") #000000;
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }

  &__content {
    max-width: 870px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    color: white;
    & h1 {
      font-size: 54px;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 30px;
      margin-top: 90px;
      @media screen and (max-width: 1024px) {
        font-size: 40px;
        margin-top: 70px;
      }
      @media screen and (max-width: 640px) {
        font-size: 36px;
      }
    }
    & p {
      font-size: 15px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 30px;
    }
  }
}
.text-fader {
  display: inline-block;
  height: 54px;
  width: fit-content;
  & h1 {
    display: none;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
}

.btn-group {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  @media screen and (max-width: 620px) {
    flex-direction: column;
  }
}
.organizations {
  padding-bottom: 50px;

  & p {
    color: #eeeeee;
    font-weight: 500;
  }
  & .icons {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
      min-width: 150px;
    }
  }
}
// spacer
.spacer {
  height: 150px;
  background-color: #000000;
  &__gradient {
    height: 100%;
    width: 6px;
    margin: auto;
    background: linear-gradient(to bottom, #ec008c, #f15b2a, rgba(0, 0, 0, 0));
  }
}
// Technology Section
.Technology {
  background: url(../public/images/bkgd-triangle-right.png),
    url(../public/images/bkgd-triangle-right2.png), url(../public/images/bkgd-triangle-left.png),
    #000000;

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, right, left;
  background-size: contain;
  @media screen and (max-width: 1024px) {
    background-size: auto;
  }

  color: white;
  & .container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  & .card-container {
    flex: 4.3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 1024px) {
      order: 2;
    }
    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
  & .card {
    margin: 20px;
    background-color: #222222;
    position: relative;
    padding: 20px 30px;
    border-radius: 10px;
    & .pink-text {
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: 300;
    }
    & > h1 {
      font-size: 23px;
      font-weight: normal;
      line-height: 1.4;
    }
    & > p {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 15px;
      & .greyed {
        color: #aaaaaa;
      }
    }
    & .text-btn {
      margin-bottom: 10px;
    }

    & img {
      width: 90px;
      position: absolute;
      top: 0px;
      right: -10px;
    }
  }
  & .text-section {
    flex: 3;
    padding: 50px 20px;
    & > * + * {
      margin-top: 20px;
    }
    .pink-text {
      font-size: 15px;
    }
    p {
      color: #eeeeee;
      font-size: 17px;
      font-weight: 300;
    }
    h1 {
      br {
        @media screen and (max-width: 620px) {
          display: none;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      order: 1;
      padding: 50px 0px;
    }
  }
}

// Features Section
.Features {
  background: #181818;
  color: #eeeeee;
  padding-top: 100px;
  padding-bottom: 100px;
  .container > * + * {
    margin-top: 20px;
  }
  h1 {
    font-size: 31px;
  }
}

.feature-card {
  padding: 50px 30px;
  background: #222222;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 20px 30px -15px;
  border-radius: 20px;
  margin: 15px;

  img {
    height: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
  & > * + * {
    margin-top: 20px;
  }
}
.main-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  .feature-card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    padding: clamp(25px, calc(1.8vw + 5px), 50px) 30px;

    box-shadow: none;
    @media screen and (max-width: 1024px) {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  img {
    max-width: 100%;
  }
  .main-card-img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: 1024px) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
.S-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

// Discovery Section
.discovery {
  background-color: #000000;
  color: #eeeeee;
  padding-top: 100px;

  .container > * + * {
    margin-top: 20px;
  }
  .discover-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(12px, 1%, 18px);
    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
    .discover-card {
      img {
        max-width: 100%;
        border-radius: 15px;
      }
      h1 {
        color: #ffba0e;
        font-size: 16px;
      }
      p {
        font-size: 13px;
        font-weight: 300;
      }
      & > * + * {
        margin-top: 20px;
      }
    }
  }
  .vmware {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    .vm-image {
      background: url("../public/images/asset 57.png");
      background-position: center;
      background-size: cover;
    }
    .vm-text-container {
      background: linear-gradient(
        100.37deg,
        rgb(236, 0, 139) 0%,
        rgb(241, 90, 34) 100%
      );
      display: flex;
      justify-content: center;
      padding: 100px 15px;
      div {
        max-width: 780px;
        img {
          max-width: 120px;
          margin-bottom: 30px;
        }
        h1 {
          margin-bottom: 20px;
          font-size: 29px;
        }
        p {
          font-weight: 300;
          margin-bottom: 20px;
        }
      }
    }
    @media screen and (max-width:1024px) {
      grid-template-columns: 1fr;
      .vm-image{
        height: 450px;
      }
    }
  }
}
// twitter-testimonial
.testimonials{
  background-color: #000000;
  padding: 100px 0px;
  & >.pink-text{
    font-size: 15px;
  }
  .skill{
    margin-top: 20px;
    font-size: 32px;
    color:white
  }
}

.slider-container{
  padding:50px 0;

}
.slider{
  display: flex !important;
}
.arrow-btn{
  display: inline;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  & svg{
    width:45px;
    stroke:white
  }
}
.twitter-card{
  position: relative;
  display: flex;
  flex-direction: column;
  margin:0 15px;
  padding: 16px;
  border-radius: 5px;
  background-color: #ffffff;
  min-height: 250px;

  &__header{
    display: flex;
    gap:20px;
    .avatar{
      width: 36px;
      height: 36px;
    }
    .display-name{
      color:#1c2022;
      font-size: 14px;

      display: block;
      text-decoration: none;
    }
    .username{
      color:#777777;
      font-size: 12.6px;
      text-decoration: none;
      display: block;
    }
    .display-name:hover,.username:hover{
      color:#55a4db;
    }
  }
  p{
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 13.8px;
    font-weight: 300;
    flex: 1;
  }
  &__bottom{
    display: flex;
    justify-content: left;
    gap:10px;
   
      
    .retweet{
      position: relative;
      p{
        position: absolute;
        top: -24px;
        left: 18px;
      }
    }
  }
}
.twitter-card-icon{
  margin-right: 5px;
  & img{
    width: 18px;
    height: 15px;
    max-width: 100%;
  }
}
.twitter-logo{
  position: absolute;
  top:16px;
  right: 16px;
  width:16px;
  height: 16px;

}
// .testimonials .container{
//   display: flex;
// }

// Utility classes
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.flap {
  transition: 0.4s;
  transform: rotateX(180deg);
}
.centered{
  text-align: center;
}
.lg {
  padding: 15px 32px;
}
.pink-text {
  color: #ec008c;
  text-transform: uppercase;
  font-weight: 500;
}
.text-btn {
  display: flex;
  align-items: center;
  h1 {
    font-size: 17px;
    font-weight: 400;
    margin-right: 0;
    transition: 0.4s ease-in-out;
  }
  svg {
    width: 17px;
    fill: #ec008c;
  }
  &:hover h1 {
    margin-right: 5px;
  }
}
.decorated {
  background: linear-gradient(to right, #ed1f69, #f0592a, #ed1f69);
  background-size: 200% 100%;
  background-position: right center;
  border: none;
  outline: none;
  transition: 0.5s ease-in-out;
  &:hover {
    background-position: left center;
    border: none;
  }
}
.darkend {
  background: #181818;
  color: #ffffff;
  border: none;
  outline: none;
  &:hover {
    box-shadow: 0px 10px 40px #181818;
  }
}
.text-fader h1.fadeupin {
  display: inline-block;
  animation: fadeUpIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
